<div class="container">
    <div class="abs-center">
        <div class="row">
            <div class="col-11">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>Bienvenido a ProgiPix</h3>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="login()" class="border rounded p-3 form">
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="username" type="email" placeholder="email con el que se registró" name="email" id="email" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input formControlName="password" type="password" placeholder="contraseña" name="password" id="password" class="form-control">
            </div>
            <div class="mt-3">
                <small id="emailHelp" class=" text-nowrap form-text text-muted">Puede <mark>registrase</mark>haciendo click <a href="/register">aquí</a>.</small>
            </div>

            <div class="d-grid gap-1 mt-4">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="fa-solid fa-database"></i>Iniciar sesion</button>
            </div>
        </form>
    </div>
</div>